.buttonItem {
    padding: 15px;
}

.buttonToolbar {
    justify-content: space-between!important;
    /* border: 1px solid lightgray; */
    /* border-radius: 5px; */
}

.search {
    margin-top: 15px;
}

.hidden {
    display: none;
}
.space {
    visibility: none;
}